.section {
  height: 70rem;
  padding: 0 3rem;
  display: grid;
}
.card {
  width: 70rem;
  padding: 2rem;
  display: grid;
  color: $bg-color-white;
}
.filler {
  font-size: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}
.grid-one {
  grid-template:
    "a b" 0.6fr
    "c d" 1fr
    "e f" 0.5fr
    / 1fr 1fr;
}

.grid-two {
  grid-template:
    "a b" 0.6fr
    "c d" 1fr
    "e f" 1fr
    / 0.5fr 1fr;
}

.grid-three {
  grid-template:
    "a b" 0.6fr
    "c d" 1fr
    "e f" 1fr
    / 1fr 1fr;
}
.grid-four {
  grid-template:
    " . a . " 0.4fr
    " . b . " 0.8fr
    " . c . " 0.4fr
    / 100px 1fr 100px;
}
.grid-five {
  grid-template:
    " . a . " 0.3fr
    " . b . " 1fr
    " . c . " 0.1fr
    / 100px 1fr 100px;
}

// BUTTONS
.about-btn {
  grid-area: about-btn;
  align-self: center;
  justify-self: center;
  display: none;
  a {
    text-decoration: none;
    background: $light-white;
  }
}
.text-btn {
  align-self: center;
  .appear,
  .disappear {
    text-align: center;
    margin-top: 1rem;
    button {
      font-family: $button-font;
      font-weight: bold;
      background: $light-white;
      border: 1px solid $bg-color-red;
      font-size: 1.2rem;
      padding: 0.6rem;
      border-radius: 50%;
      color: $pure-white;
      transition: background-color 0.1s;
    }
    button:hover {
      border: 1px solid $pure-white;
      background-color: $bg-color-red;
    }
    button:active{
      transform: scale(1.1);
    }
  }
  .appear {
    display: block;
  }
  .disappear {
    display: none;
  }
}
.submit button {
  background: $light-white;
  border: 2px solid $pure-white;
}
.submit button,
.about-btn a {
  color: $pure-white;
  text-align: left;
  font-family: $button-font;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: 2px solid $bg-color-red;
  height: 4rem;
  width: 6rem;
  padding: 1rem;
  transition: background-color 0.3s;
}
.submit button:hover,
.about-btn a:hover {
  background-color: $bg-color-red;
  border-color: $bg-color-white;
}
.submit button:active,
.about-btn a:active {
  opacity: 0.8;
  transform: scale(1.1);
}
// LINES

.line {
  border: 2px solid $bg-color-red;
  border-radius: 2rem;
  margin: 0 auto;
  width: 80%;
}
.line-black01{
  border: 1px solid $bg-color-black-lighter;
  border-radius: 2rem;
  margin: 1rem auto;
  width: 10%;
}
.line-black02{
  border: 1px solid $bg-color-black-lighter;
  border-radius: 2rem;
  margin: 1rem auto;
  width: 30%;
}
.line-black03{
  border: 1px solid $bg-color-black-lighter;
  border-radius: 2rem;
  margin: 1rem auto;
  width: 50%;
}