.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $bg-color-black;
  .logo {
    width: 80px;
    background: yellow;
    img {
      width: 100%;
      opacity: 0.8;
    }
  }
  li {
    display: inline-block;
    margin-left: 5rem;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $nav-link-color;
      letter-spacing: 0.15rem;
      position: relative;
    }
    a::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      bottom: -2px;
      left: 50%;
      position: absolute;
      background: $nav-link-color-hover;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover {
      color: $nav-link-color-hover;
    }
    a:hover::after {
      width: 100%;
      left: 0;
    }
  }
  li:last-child {
    margin-right: 2rem;
  }
}
.aside-nav {
  position: fixed;
  top: 40%;
  right: 1.2rem;
  list-style-type: none;
  z-index: 10;
  height: 100%;

  a {
    display: block;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.131);
    width: 1rem;
    height: 1rem;
    margin: 2rem 0;
    border: 2.8px solid yellow;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  a:hover {
    transform: scale(1.1);
  }
  li:first-child a:hover::after {
    content: "\f139";
    position: relative;
    bottom: 8px;
    right: 40px;
    font-family: "FontAwesome";
    /* text-shadow: 2px 2px 2px #000000; */
  }
  li:nth-child(2) a:hover::after {
    content: "\f4fe";
    position: relative;
    bottom: 8px;
    right: 40px;
    font-family: "FontAwesome";
    /* text-shadow: 2px 2px 2px #000000; */
  }
  li:nth-child(3) a:hover::after {
    content: "\f5dc";
    position: relative;
    bottom: 8px;
    right: 40px;
    font-family: "FontAwesome";
    /* text-shadow: 2px 2px 2px #000000; */
  }
  li:nth-child(4) a:hover::after {
    content: "\f542";
    position: relative;
    bottom: 8px;
    right: 40px;
    font-family: "FontAwesome";
    /* text-shadow: 2px 2px 2px #000000; */
  }
  li:last-child a:hover::after {
    content: "\f0e0";
    position: relative;
    bottom: 8px;
    right: 40px;
    font-family: "FontAwesome";
    /* text-shadow: 2px 2px 2px #000000; */
  }
  a:active {
    border: 2px solid #ff70039a;
    transform: scale(1.2);
  }
  a:active::after {
    color: #ff70039a;
  }

  a::after {
    color: white;
    transition: none;
    font-size: 1.5rem;
    transition: all 4s;
  }
}
