@media (min-width: 769px) {
  .topnav {
    display: none;
  }
  .welcome-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .aside-nav {
    display: none;
  }
  #myLinks {
    .sub-myLinks {
      a:active {
        color: $bg-color-red-light;
        text-decoration: 3px underline overline $bg-color-white;
        transform: scale(1.1);
      }
      a:active i {
        color: $bg-color-white;
        transform: scale(1.3);
      }
    }
  }
  .welcome-mobile {
    display: none;
  }
  .welcome {
    top: 50%;
    h2 {
      font-size: 2.8rem;
    }
    h1 {
      font-size: 1.8rem;
    }
  }

  .section {
    height: 70rem;
    padding: 0 2rem;
    display: grid;
  }
  .card {
    width: 100%;
    padding: 0;
  }
  .about-grid {
    grid-template:
      " heading heading " 200px
      " bio bio " 1fr
      " about-btn about-btn " 100px
      / 1fr 1fr;
  }
  .grid-one {
    grid-template:
      "a" 0.2fr
      "c" 1fr
      "e" 1fr
      / 1fr;
      h2 {
        align-self: flex-end;
      }
  }

  .grid-two {
    grid-template:
      "b" 0.6fr
      "d" 1fr
      "f" 1fr
      /1fr;
  }

  .grid-three {
    grid-template:
      "b" 0.6fr
      "d" 1fr
      "f" 1fr
      / 1fr;
  }
  .grid-four {
    grid-template:
      " a " 0.4fr
      " b " 0.8fr
      " c " 0.4fr
      / 1fr;
  }
  .grid-five {
    grid-template:
      " a " 0.3fr
      " b " 1fr
      " c " 0.1fr
      / 1fr;
  }
  .about-grid {
    .biography .paragraph .sub-paragraph p {
      line-height: 1.8rem;
      color: red;
    }
  }
  .appear {
    display: block;
  }
  .disappear {
    display: none;
  }
  .about-btn {
    display: block;
    justify-self: center;
  }
  .git-link {
    display: none;
  }
  .skills-grid {
    row-gap: 2rem;
    .logo-box {
      justify-content: center;
      img {
        width: 80%;
        padding: 1rem;
        background: $pure-white;
      }
      img:hover {
        background: $bg-color-white;
      }
    }
  }

  .projects-section {
    .projects-grid {
      grid-template:
        " a a b b " 1fr
        " a a b b" 1fr
        " c c e e " 1fr
        " d d e e " 1fr
        / 1fr 1fr 1fr 1fr;
      gap: 2rem;
    }
  }

  .form-grid {
    width: 100%;
    .par-req {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 480px) {
  main h2 {
    font-size: 1.8rem;
  }
  .welcome {
    display: none;
  }
  .welcome-mobile {
    display: block;
    color: $bg-color-white;
    width: 90%;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10rem;
    padding: 1rem;
    text-transform: uppercase;
    grid-area: w;
    text-align: center;
    grid-template:
      "h1" 1fr
      "h2" 1fr
      "h3" 1fr
      / 1fr;
    h1 {
      grid-area: h1;
      font-size: 1.4rem;
      padding: 0.5rem 0;
      letter-spacing: 0.1rem;
      div:nth-child(2) {
        padding: 0.6rem 0;
      }
    }

    h2 {
      grid-area: h2;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      div:nth-child(2) {
        color: $bg-color-black-light;
        font-size: 2rem;
        padding: 0.6rem 0;
      }
    }
    h3 {
      div:nth-child(2) {
        font-size: 1.5rem;
        margin: 0.6rem 0;
      }
    }
  }
  .about-grid {
    .biography {
      p {
        font-size: 1rem;
        line-height: 0.4rem;
      }
    }
  }
  .skills-grid {
    grid-area: d;
    grid-template:
      " heading heading heading heading " 100px
      " a a b b " 1fr
      " c c d d " 1fr
      " e e f f " 1fr
      " g g h h " 1fr
      / 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    .logo-box {
      img {
        width: 60%;
      }
    }
  }
  footer {
    .copyright {
      font-size: 0.8rem;
    }
    .socials a {
      margin-right: 0.3rem;
    }
  }
}
