@media (min-width: 769px) {
  .topnav {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .aside-nav {
    display: none;
  }
  .welcome {
    top: 50%;
    h2 {
      font-size: 2.8rem;
    }
    h1 {
      font-size: 1.8rem;
    }
  }
  .appear,
  .disappear {
    display: none;
  }
  .section {
    height: 70rem;
    padding: 0 2rem;
    display: grid;
  }
  .card {
    width: 100%;
    padding: 0;
  }
  .grid-one {
    grid-template:
      "a" 0.6fr
      "c" 1fr
      "e" 1fr
      / 1fr;
  }

  .grid-two {
    grid-template:
      "b" 0.6fr
      "d" 1fr
      "f" 1fr
      /1fr;
  }

  .grid-three {
    grid-template:
      "b" 0.6fr
      "d" 1fr
      "f" 1fr
      / 1fr;
  }
  .grid-four {
    grid-template:
      " a " 0.4fr
      " b " 0.8fr
      " c " 0.4fr
      / 1fr;
  }
  .grid-five {
    grid-template:
      " a " 0.3fr
      " b " 1fr
      " c " 0.1fr
      / 1fr;
  }
  .about-grid .biography .paragraph p {
    line-height: 1.4rem;
  }
  .about-grid {
    .text-btn {
      align-self: center;
      .appear,
      .disappear {
        text-align: center;
        margin-top: 0.8rem;
        button {
          background: $light-white;
          border: 1px solid transparent;
          font-size: 1.2rem;
          padding: 0.4rem;
          border-radius: 50%;
          color: $bg-color-red;
          transition: all 0.2s;
        }
        button:hover {
          border: 1px solid $bg-color-red;
          transform: scale(1.1);
        }
      }
      .appear {
        display: block;
      }
      .disappear {
        display: none;
      }
    }
  }

  .about-btn {
    display: block;
    justify-self: center;
  }
  .git-link {
    display: none;
  }
  .skills-grid {
    row-gap: 2rem;
    .logo-box {
      justify-content: center;
      img {
        width: 80%;
        padding: 1rem;
        background: $pure-white;
      }
      img:hover {
        background: $bg-color-white;
      }
    }
  }
  .form-grid {
    width: 100%;
    .par-req {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 480px) {
  main h2 {
    font-size: 2rem;
  }
  .about-grid {
    .biography {
      p {
        font-size: 1rem;
        line-height: 0.4rem;
      }
    }
  }
}
