/* --- COLORS --- */
$primary-color: #333;
$secondary-color: rgb(177, 117, 5);
$bg-color-white: rgba(238, 238, 238, 0.782);
$bg-color-black: rgba(0, 0, 0, 1);
$bg-color-red: rgb(255, 111, 0);
$bg-color-gray: rgba(255, 255, 255, 0.2);


$input-color: rgba(0, 0, 0, 0.467);
$span-color: rgb(143, 0, 0);
$nav-link-color: rgba(51, 51, 51, 0.7);

/* --- FONTS --- */
$body-font: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
$button-font:  'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;