/* --- COLORS --- */
$bg-color-black: rgb(0, 0, 0);
$bg-color-red: rgb(255, 111, 0);
$bg-color-red-light: rgba(255, 111, 0, 0.7);
$bg-color-white: rgba(238, 238, 238, 0.782);
$bg-color-black-light: rgba(0, 0, 0, 0.666);
// FORM
$span-color: $bg-color-red;
$pure-white: white;
$light-white: rgba(255, 255, 255, 0.15);
// NAV 
$nav-link-color: rgb(255, 155, 73);
$nav-link-color-hover: rgba(255, 111, 0, 1);

/* --- FONTS --- */
$body-font: 'Segoe UI', 'Gill Sans', 'Trebuchet MS', sans-serif;
$button-font:  'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;