*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* --- COLORS --- */
/* --- FONTS --- */
:root {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* Hide scrollbar - IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar - Firefox */
}

body {
  font-family: "Segoe UI", "Gill Sans", "Trebuchet MS", sans-serif;
  background-color: #ff6f00;
}

body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.main-container {
  position: relative;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, black), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, black)), url(../img/abstract002.jpg) center/cover no-repeat;
  background: linear-gradient(180deg, black 5%, rgba(0, 0, 0, 0) 50%, black 99%), url(../img/abstract002.jpg) center/cover no-repeat;
}

.welcome-section {
  height: 100%;
}

.welcome {
  color: rgba(238, 238, 238, 0.782);
  width: 900px;
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: min-height;
  padding: 1rem;
  text-transform: uppercase;
  grid-area: w;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-template: "h1" -webkit-min-content "h2" 1fr "h3" -webkit-min-content / 1fr;
  grid-template: "h1" min-content "h2" 1fr "h3" min-content / 1fr;
  gap: 2rem;
}

.welcome h1 {
  font-size: 2.5em;
  grid-area: h1;
}

.welcome h2 {
  font-size: 3.5em;
  grid-area: h2;
}

.welcome span:nth-child(2) {
  text-shadow: -1px -1px 0 rgba(255, 111, 0, 0.7), 1px -1px 0 rgba(255, 111, 0, 0.7), -1px 1px 0 rgba(255, 111, 0, 0.7), 1px 1px 0 rgba(255, 111, 0, 0.7);
}

.welcome .animation {
  grid-area: h2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.welcome h3,
.welcome .welcome-icons {
  grid-area: h3;
}

main {
  color: rgba(238, 238, 238, 0.782);
}

h1 {
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.about-section {
  background: black;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.about-grid {
  grid-area: c;
  grid-template: " heading heading heading " 100px " bio bio bio " 1fr " about-btn about-btn about-btn " 100px / 1fr 1fr 1fr;
  gap: 0.5rem;
}

.about-grid h2 {
  text-align: center;
  grid-area: heading;
}

.about-grid .biography {
  grid-area: bio;
}

.about-grid .biography .paragraph {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, black 75%), url(../img/14433049_10207226138916542_3714018530593715073_n.jpg) top/cover no-repeat;
}

.about-grid .biography .paragraph p {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.4rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.about-grid .biography .paragraph p .par-text-2 {
  display: none;
}

.about-grid .biography .line {
  border: 2px solid #ff6f00;
  border-radius: 2rem;
  margin: 0 auto;
  width: 80%;
}

.about-grid .about-btn-container {
  grid-area: about-btn;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.git-link {
  display: block;
  grid-area: d;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 6rem;
}

.git-link .scan {
  width: 160px;
  margin: 1.5rem auto;
}

.git-link .scan img {
  width: 100%;
}

.git-link .qr-code {
  width: 210px;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.git-link .qr-code img {
  width: 100%;
}

.git-link .qr-code:hover {
  opacity: 1;
}

.skills-section {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 90%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 90%);
  background: url(../img/abstract003.jpg) center/cover no-repeat;
}

.skills-grid {
  grid-area: d;
  grid-template: " . heading heading heading heading . " 100px " a a b b c c " 1fr " d d e e f f " 1fr " . g g h h . " 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
}

.skills-grid h2 {
  text-align: center;
  grid-area: heading;
}

.skills-grid .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-grid .logo-box img {
  width: 100%;
  padding: 1.5rem;
  border-radius: 2rem;
  border: 1px solid #ff6f00;
  background: rgba(238, 238, 238, 0.782);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.skills-grid .logo-box img:hover {
  background: white;
  border: 1px solid transparent;
  -webkit-box-shadow: 1px 1px 50px 12px rgba(255, 255, 255, 0.25);
          box-shadow: 1px 1px 50px 12px rgba(255, 255, 255, 0.25);
}

.skills-grid .logo-a {
  grid-area: a;
  width: 160px;
}

.skills-grid .logo-b {
  grid-area: b;
  width: 220px;
}

.skills-grid .logo-c {
  grid-area: c;
  width: 200px;
}

.skills-grid .logo-d {
  grid-area: d;
  width: 180px;
}

.skills-grid .logo-e {
  grid-area: e;
  width: 180px;
}

.skills-grid .logo-f {
  grid-area: f;
  width: 160px;
}

.skills-grid .logo-g {
  grid-area: g;
  width: 160px;
}

.skills-grid .logo-h {
  grid-area: h;
  width: 140px;
}

.projects-section {
  background: black;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}

.projects-section h2 {
  grid-area: a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 5rem;
}

.projects-section .projects-grid {
  grid-area: b;
  display: -ms-grid;
  display: grid;
  grid-template: " a b d" 1fr " a b e" 1fr " c c e" 1fr / 1fr 1fr 1fr;
  gap: 2rem;
}

.projects-section .projects-grid .box1 {
  grid-area: a;
  border-radius: 12rem 0 0 0;
  width: 100%;
  position: relative;
  background: url("../img/04_burger.png") center/cover no-repeat;
}

.projects-section .projects-grid .box1 .sub-box1 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.projects-section .projects-grid .box1 .sub-box1 a {
  width: 100%;
  height: 100%;
  display: block;
}

.projects-section .projects-grid .box1:hover::after {
  background-color: rgba(255, 93, 93, 0.1);
  border-radius: 12rem 0 0 0;
}

.projects-section .projects-grid .box1::after {
  content: "";
  background-color: rgba(255, 93, 93, 0.6);
  display: block;
  position: absolute;
  border-radius: 12rem 0 0 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects-section .projects-grid .box2 {
  grid-area: b;
  width: 100%;
  position: relative;
  background: url("../img/01_colorful.png") center/cover no-repeat;
}

.projects-section .projects-grid .box2 .sub-box2 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.projects-section .projects-grid .box2 .sub-box2 a {
  width: 100%;
  height: 100%;
  display: block;
}

.projects-section .projects-grid .box2:hover::after {
  background-color: rgba(255, 182, 193, 0.1);
}

.projects-section .projects-grid .box2::after {
  content: "";
  background-color: rgba(255, 154, 169, 0.6);
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.projects-section .projects-grid .box3 {
  grid-area: c;
  width: 100%;
  position: relative;
  background: url("../img/02_graph.png") center/cover no-repeat;
}

.projects-section .projects-grid .box3 .sub-box3 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.projects-section .projects-grid .box3 .sub-box3 a {
  width: 100%;
  height: 100%;
  display: block;
}

.projects-section .projects-grid .box3:hover::after {
  background-color: rgba(255, 123, 0, 0.1);
}

.projects-section .projects-grid .box3::after {
  content: "";
  background-color: rgba(255, 123, 0, 0.6);
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.projects-section .projects-grid .box4 {
  grid-area: d;
  width: 100%;
  position: relative;
  background: url("../img/03_travel.png") center/cover no-repeat;
}

.projects-section .projects-grid .box4 .sub-box4 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.projects-section .projects-grid .box4 .sub-box4 a {
  width: 100%;
  height: 100%;
  display: block;
}

.projects-section .projects-grid .box4:hover::after {
  background-color: rgba(255, 255, 0, 0.1);
}

.projects-section .projects-grid .box4::after {
  content: "";
  background-color: rgba(255, 255, 0, 0.6);
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.projects-section .projects-grid .box5 {
  grid-area: e;
  height: 100%;
  width: 100%;
  border-radius: 0 0 12rem 0;
  position: relative;
  background: url("../img/05_game.png") center/cover no-repeat;
}

.projects-section .projects-grid .box5 .sub-box5 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.projects-section .projects-grid .box5 .sub-box5 a {
  width: 100%;
  height: 100%;
  display: block;
}

.projects-section .projects-grid .box5:hover::after {
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 0 0 12rem 0;
}

.projects-section .projects-grid .box5::after {
  content: "";
  background-color: rgba(0, 128, 0, 0.6);
  border-radius: 0 0 12rem 0;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.contact-section {
  background: url(../img/abstract004.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.contact-section h2 {
  grid-area: a;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 2rem;
}

.form-grid {
  grid-area: b;
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-template: " . . . " 0.1fr " name mail subject" 80px " text text text " 0.6fr " submit required required" 50px / 1fr 1fr 1fr;
}

.form-grid .message {
  height: 100%;
}

.form-grid .name {
  grid-area: name;
}

.form-grid .email {
  grid-area: mail;
}

.form-grid .subject {
  grid-area: subject;
}

.form-grid .message {
  grid-area: text;
}

.form-grid .submit {
  grid-area: submit;
}

.form-grid .info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.form-grid .info:hover label {
  bottom: 120%;
}

.form-grid label {
  position: absolute;
  bottom: 85%;
  left: 3%;
  font-size: 1.2em;
  letter-spacing: 0.2rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.form-grid input {
  width: 90%;
  background: none;
  border-width: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.782);
  outline: none;
}

.form-grid .subject input {
  width: 100%;
}

.form-grid input[placeholder] {
  padding: 0.5rem;
  font-size: 1.5em;
  color: white;
}

.form-grid input:focus {
  border-color: #ff6f00;
}

.form-grid label span {
  color: #ff6f00;
  font-size: 1.3rem;
}

.form-grid textarea {
  width: 100%;
  height: 85%;
  margin-top: 2rem;
  resize: none;
  outline: none;
  border-radius: 0.3rem;
}

.form-grid textarea[placeholder] {
  background-color: rgba(238, 238, 238, 0.782);
  font-size: 1.8em;
  padding: 0.5rem;
}

.form-grid textarea:focus {
  -webkit-box-shadow: 0px 0px 10px 1px #ff6f00;
          box-shadow: 0px 0px 10px 1px #ff6f00;
}

.form-grid .par-req {
  grid-area: required;
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: black;
  margin-right: 0.8rem;
  margin-top: -1.4rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.form-grid .par-req p {
  color: #ff6f00;
}

.form-grid .par-req p span {
  -webkit-text-decoration: underline 1px solid #ff6f00;
          text-decoration: underline 1px solid #ff6f00;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  background: black;
  color: rgba(238, 238, 238, 0.782);
  border-top: 2px solid #ff6f00;
  font-size: 1.2rem;
  padding: 2rem 1rem;
}

footer .socials a {
  color: rgba(238, 238, 238, 0.782);
  font-size: 2rem;
  margin-right: 1.5rem;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

footer .socials a:hover {
  color: #ff6f00;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  background-color: black;
}

.navbar .logo {
  margin-top: 0.2rem;
  width: 80px;
}

.navbar .logo img {
  width: 100%;
  opacity: 0.8;
}

.navbar li {
  display: inline-block;
  margin-left: 5rem;
}

.navbar li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ff9b49;
  letter-spacing: 0.15rem;
  position: relative;
}

.navbar li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  bottom: -2px;
  left: 50%;
  position: absolute;
  background: #ff6f00;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar li a:hover {
  color: #ff6f00;
}

.navbar li a:hover::after {
  width: 100%;
  left: 0;
}

.navbar li:last-child {
  margin-right: 2rem;
}

.aside-nav {
  position: fixed;
  top: 40%;
  right: 1.2rem;
  list-style-type: none;
  z-index: 10;
  height: 100%;
}

.aside-nav ul {
  list-style: none;
}

.aside-nav ul a {
  display: block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.131);
  width: 1rem;
  height: 1rem;
  margin: 2rem 0;
  border: 2.8px solid yellow;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.aside-nav ul a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.aside-nav ul li:first-child a:hover::after {
  content: "\f139";
  position: relative;
  bottom: 8px;
  right: 40px;
  font-family: "FontAwesome";
}

.aside-nav ul li:nth-child(2) a:hover::after {
  content: "\f029";
  position: relative;
  bottom: 8px;
  right: 40px;
  font-family: "FontAwesome";
}

.aside-nav ul li:nth-child(3) a:hover::after {
  content: "\f5dc";
  position: relative;
  bottom: 8px;
  right: 40px;
  font-family: "FontAwesome";
}

.aside-nav ul li:nth-child(4) a:hover::after {
  content: "\f542";
  position: relative;
  bottom: 8px;
  right: 40px;
  font-family: "FontAwesome";
}

.aside-nav ul li:last-child a:hover::after {
  content: "\f0e0";
  position: relative;
  bottom: 8px;
  right: 40px;
  font-family: "FontAwesome";
  /* text-shadow: 2px 2px 2px #000000; */
}

.aside-nav ul a:active {
  border: 2px solid #ff70039a;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.aside-nav ul a:active::after {
  color: #ff70039a;
}

.aside-nav ul a::after {
  color: white;
  -webkit-transition: none;
  transition: none;
  font-size: 1.5rem;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.topnav {
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

.topnav .logo {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.666);
  width: 90px;
  margin: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  z-index: 10;
}

.topnav .logo img {
  width: 100%;
}

.topnav #myLinks {
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  height: 100vh;
  background: black;
}

.topnav #myLinks .sub-myLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.topnav #myLinks .sub-myLinks a {
  color: #ff6f00;
  margin: 1.2rem 0;
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.topnav #myLinks .sub-myLinks a:hover {
  color: rgba(255, 111, 0, 0.7);
  -webkit-text-decoration: 3px underline overline rgba(238, 238, 238, 0.782);
          text-decoration: 3px underline overline rgba(238, 238, 238, 0.782);
}

.topnav #myLinks .sub-myLinks a:hover i {
  color: rgba(238, 238, 238, 0.782);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.topnav #myLinks .sub-myLinks a:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.topnav #myLinks .sub-myLinks a:active i {
  color: rgba(238, 238, 238, 0.782);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.topnav #myLinks .sub-myLinks i {
  font-size: 2.4rem;
  margin: 0 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff6f00;
}

.trigger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
  margin: 0.4rem;
  text-decoration: none;
  font-size: 2rem;
  color: #ff6f00;
  background: rgba(0, 0, 0, 0.666);
  border-radius: 50%;
  z-index: 10;
}

.trigger a {
  color: #ff6f00;
  padding: 0.3rem;
}

.trigger a:hover {
  color: rgba(255, 111, 0, 0.7);
}

.trigger a i {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.trigger a:active i {
  -webkit-transform: scale(1.2) rotate(90deg);
          transform: scale(1.2) rotate(90deg);
}

.section {
  height: 70rem;
  padding: 0 3rem;
  display: -ms-grid;
  display: grid;
}

.card {
  width: 70rem;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  color: rgba(238, 238, 238, 0.782);
}

.filler {
  font-size: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -10;
}

.grid-one {
  grid-template: "a b" 0.6fr "c d" 1fr "e f" 0.5fr / 1fr 1fr;
}

.grid-two {
  grid-template: "a b" 0.6fr "c d" 1fr "e f" 1fr / 0.5fr 1fr;
}

.grid-three {
  grid-template: "a b" 0.6fr "c d" 1fr "e f" 1fr / 1fr 1fr;
}

.grid-four {
  grid-template: " . a . " 0.4fr " . b . " 0.8fr " . c . " 0.4fr / 100px 1fr 100px;
}

.grid-five {
  grid-template: " . a . " 0.3fr " . b . " 1fr " . c . " 0.1fr / 100px 1fr 100px;
}

.about-btn {
  grid-area: about-btn;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: none;
}

.about-btn a {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}

.text-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text-btn .appear,
.text-btn .disappear {
  text-align: center;
  margin-top: 1rem;
}

.text-btn .appear button,
.text-btn .disappear button {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ff6f00;
  font-size: 1.2rem;
  padding: 0.6rem;
  border-radius: 50%;
  color: white;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.text-btn .appear button:hover,
.text-btn .disappear button:hover {
  border: 1px solid white;
  background-color: #ff6f00;
}

.text-btn .appear button:active,
.text-btn .disappear button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.text-btn .appear {
  display: block;
}

.text-btn .disappear {
  display: none;
}

.submit button {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid white;
}

.submit button,
.about-btn a {
  color: white;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: 2px solid #ff6f00;
  height: 4rem;
  width: 6rem;
  padding: 1rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.submit button:hover,
.about-btn a:hover {
  background-color: #ff6f00;
  border-color: rgba(238, 238, 238, 0.782);
}

.submit button:active,
.about-btn a:active {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.line {
  border: 2px solid #ff6f00;
  border-radius: 2rem;
  margin: 0 auto;
  width: 80%;
}

.line-black01 {
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 2rem;
  margin: 1rem auto;
  width: 10%;
}

.line-black02 {
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 2rem;
  margin: 1rem auto;
  width: 30%;
}

.line-black03 {
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 2rem;
  margin: 1rem auto;
  width: 50%;
}

@media (min-width: 769px) {
  .topnav {
    display: none;
  }
  .welcome-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .aside-nav {
    display: none;
  }
  .welcome-mobile {
    display: none;
  }
  .welcome {
    top: 50%;
  }
  .welcome h2 {
    font-size: 2.8rem;
  }
  .welcome h1 {
    font-size: 1.8rem;
  }
  .section {
    height: 70rem;
    padding: 0 2rem;
    display: -ms-grid;
    display: grid;
  }
  .card {
    width: 100%;
    padding: 0;
  }
  .grid-one {
    grid-template: "a" 0.6fr "c" 1fr "e" 1fr / 1fr;
  }
  .grid-two {
    grid-template: "b" 0.6fr "d" 1fr "f" 1fr /1fr;
  }
  .grid-three {
    grid-template: "b" 0.6fr "d" 1fr "f" 1fr / 1fr;
  }
  .grid-four {
    grid-template: " a " 0.4fr " b " 0.8fr " c " 0.4fr / 1fr;
  }
  .grid-five {
    grid-template: " a " 0.3fr " b " 1fr " c " 0.1fr / 1fr;
  }
  .about-grid .biography .paragraph p {
    line-height: 1.4rem;
  }
  .appear {
    display: block;
  }
  .disappear {
    display: none;
  }
  .about-btn {
    display: block;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .git-link {
    display: none;
  }
  .skills-grid {
    row-gap: 2rem;
  }
  .skills-grid .logo-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills-grid .logo-box img {
    width: 80%;
    padding: 1rem;
    background: white;
  }
  .skills-grid .logo-box img:hover {
    background: rgba(238, 238, 238, 0.782);
  }
  .form-grid {
    width: 100%;
  }
  .form-grid .par-req p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  main h2 {
    font-size: 1.8rem;
  }
  .welcome {
    display: none;
  }
  .welcome-mobile {
    display: block;
    color: rgba(238, 238, 238, 0.782);
    width: 90%;
    position: relative;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 10rem;
    padding: 1rem;
    text-transform: uppercase;
    grid-area: w;
    text-align: center;
    grid-template: "h1" 1fr "h2" 1fr "h3" 1fr / 1fr;
  }
  .welcome-mobile h1 {
    grid-area: h1;
    font-size: 1.4rem;
    padding: 0.5rem 0;
    letter-spacing: 0.1rem;
  }
  .welcome-mobile h1 div:nth-child(2) {
    padding: 0.6rem 0;
  }
  .welcome-mobile h2 {
    grid-area: h2;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }
  .welcome-mobile h2 div:nth-child(2) {
    color: rgba(0, 0, 0, 0.666);
    font-size: 2rem;
    padding: 0.6rem 0;
  }
  .welcome-mobile h3 div:nth-child(2) {
    font-size: 1.5rem;
    margin: 0.6rem 0;
  }
  .about-grid .biography p {
    font-size: 1rem;
    line-height: 0.4rem;
  }
  .skills-grid {
    grid-area: d;
    grid-template: " heading heading heading heading " 100px " a a b b " 1fr " c c d d " 1fr " e e f f " 1fr " g g h h " 1fr / 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
  }
  .skills-grid .logo-box img {
    width: 60%;
  }
  footer .copyright {
    font-size: 0.8rem;
  }
  footer .socials a {
    margin-right: 0.3rem;
  }
}
/*# sourceMappingURL=main.css.map */